/*ocultar campos Pokemon*/
header h1 span:last-child{
  display: none;
}

.historia-pokemon {
  display: none;
}

.personagens h2:first-child {
  display: none;
}

.personagens ul:nth-child(3) {
  display: none;
}

.treinadores-pokemon {
  display: none;
}
/*/////////////////////////////////////////////////////*/

body {
  font-family: arial;
  font-weight: bold;
  background: blue;
  background-image: url(img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

header h1 {
  text-align: center;
  color: white;
}

nav a {
  text-decoration: none;
}

body > nav {
  text-align: center;
  margin: 0 auto;
  width: 850px;
  padding: 20px;
  border: solid;
  border-radius: 10px;
  background-color: rgba(244, 152, 66, 0.8);
}
  body > nav a{
    margin: 15px;
  }

.autenticacao{
  position: relative;
  top: -60;
  right: 10;
  font-size: 10pt;
  text-align: right;
}
  .autenticacao a{
    color: white;
}

.historia-digimon {
  color: white;
  background-color: rgba(244, 152, 66, 0.8);
  width: 90%;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  border-radius: 15px;
}

.content {
  background-color: rgba(244, 152, 66, 0.8);
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

  .personagens {
    float: left;
    height: 450px;
    width: 500px;
    border: solid;
    border-radius: 15px;
  }
    .personagens h2 {
      margin-left: 20px;
    }
    .personagens li {
      cursor: pointer;
      list-style-type: none;
      padding: 3px;
    }
    .personagens li:hover {
      list-style-type: circle;
    }
    .personagens li:nth-child(1):hover {
        position: relative;
    }
    .personagens li:nth-child(1):hover:after {
      content: url(http://wikimon.net/images/thumb/8/80/Agumon2.png/200px-Agumon2.png); /* no need for qoutes */
      display: inline;
      position: absolute;
      left: 210px; /* change this value to one that suits you */
      top: 20px; /* change this value to one that suits you */
    }

  .digiescolhidos {
    float: right;
    overflow-y: scroll;
    height: 450px;
    width: 650px;
    border: solid;
    border-radius: 15px;
  }
    .digiescolhidos h3 {
      padding-left: 20px;
    }
    .digiescolhidos li {
      cursor: pointer;
      list-style-type: none;
      padding: 3px;
    }
    .digiescolhidos li:hover {
      list-style-type: circle;
    }
    .digiescolhidos li:nth-child(1):hover {
        position: relative;
    }
    .digiescolhidos li:nth-child(1):hover:after {
      content: url(img/taichi.gif); /* no need for qoutes */
      display: inline;
      position: absolute;
      left: 270px; /* change this value to one that suits you */
      top: 10px; /* change this value to one that suits you */
    }

  footer {
    text-align: center;
    clear: both;
    padding-top: 50px;
  }
