
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="texto">
    <span id="imagem">
        <img src="img/eu.jpg">
    </span>
    <span id="descricao">
        <h1>Régis Martiny</h1>
        <strong>Primeira aparição:</strong> Hospital Schlatter.
        <br>
        <strong>Nascimento:</strong> 25/11/1989.
        <br>
        <strong>Altura:</strong> 1,80.
        <br>
        <strong>Peso:</strong> 80kg.
        <br>
        <strong>Tipo sanguíneo:</strong> O.
        <br>
        <strong>Local de origem:</strong> Brasil.
    </span>
</div>

